<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h4>Form Array:</h4>
  <form [formGroup]="detailsForm" (ngSubmit)="AddDetails()">
    <div class="row">
      <label>Id</label>
      <input type="text" formControlName="id">
    </div>
    <div class="row">
      <label>Name</label>
      <input type="text" formControlName="name">
    </div>
    <div class="row">
      <label>Description</label>
      <input type="text" formControlName="desc">
    </div>
    <div class="row">
      <label>Result</label>
      <input type="text" formControlName="result">
    </div>
    <div class="row" formArrayName="area_details">
      <label>Area</label>
      <ng-container *ngFor="let areaData of area_details.controls; let i = index">
        <div [formGroupName]="i">
          <input type="number" formControlName="area_id" placeholder="@id">
          <input type="text" formControlName="title" placeholder="@title">
          <input type="text" formControlName="factor" placeholder="@factor">
          <button *ngIf="i!==0" (click)="removeRow(i)">Remove</button>
        </div>
      </ng-container>
      <button type="button" (click)="addRow()">Add row</button>
    </div>
    <div class="row">
      <button type="submit">Submit</button>
    </div>
  </form>
</body>
</html>